h3{
margin-top:10px;
font-size:3rem;
text-align:center;
color:silver;
text-shadow:2px 2px black;
}

body{
background-color:#7b1fa2;
}
.outer{
width:40%;
height:80%;
display:flex;
background-color:#f3e5f5;
border:1px solid #d1c4e9;
box-shadow:4px 4px 10px black;
border-radius:10px;
display:inline-block;
}

.dis{
width:85%;
height:15%;
background-image:linear-gradient(#ff9800,#ffc107);
margin:auto;
margin-top:25px;
border:1px solid #d1c4e9;
border-radius:5px;
box-shadow:inset 4px 4px 5px red,4px 4px 5px rgb(0,0,0,0.3);
}
.buttons{
width:67px;
height:67px;
margin-left:50px;
margin-top:20px;
display:inline-block;
box-shadow:4px 4px 5px rgb(0,0,0,0.3);
text-align:center;
font-size:50px;
border-radius:5px;
color:white;
}
.red{
background-color:#e91e63;
}
.yellow{
background-color:#ffeb3b;
}
.blue{
background-color:#4fc3f7;
}
.green{
background-color:#4caf50;
}
.d_blue{
background-color:#03a9f4;
}
.v{
background-color:#9c27b0;
}

#content{
color:white;
text-shadow:2px 2px silver;
font-size:2rem;
text-align:center;
}





















